/* fortpolio stareh style */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-praimry{
    color:#FD6E0A;
}
.btn-praimry{
    border-radius: 5px;
    background-color: #FD6E0A;
    border:0;
    color:white;
    font-size:20px;
    font-weight: 700;
    padding:13px 35px; 
}
/* nav related style */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}
.port-style{
    color:#181818;
    front-size:45px;
    font-weight: 800;
}
nav > ul{
    display:flex;
    align-items: center;
}
nav li {
    list-style:none;
    margin-right: 20px;
}
nav a{ 
    text-decoration: none;
    color:#474747;
}